<div class="navbar navbar-light bg-info navbar-expand-md fixed-top border-bottom">
    <div class="container">
        <span class="navbar-brand">Blazor Web Assembly</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Companys/List">Companys</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Employees/List">Employees</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Positions/List">Positions</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

